<app-main-loader *ngIf="!specie; else specieTemplate"></app-main-loader>
<ng-template #specieTemplate>
  <div class="row">
    <div class="col-12">
      <a [routerLink]="['../']" class="link-secondary"
        ><i class="bi bi-arrow-left"></i> Species</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">{{ specie.name }}</h1>
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="1">
          <button ngbNavLink class="detail-nav-link">Details</button>
          <ng-template ngbNavContent>
            <div class="row">
              <dt class="col-sm-4">Classification</dt>
              <dd class="col-sm-8">{{ specie.classification }}</dd>
              <dt class="col-sm-4">Designation</dt>
              <dd class="col-sm-8">
                {{ specie.designation }}
              </dd>
              <dt class="col-sm-4">Average height</dt>
              <dd class="col-sm-8">{{ specie.average_height }} cm</dd>
              <dt class="col-sm-4">Average lifespan</dt>
              <dd class="col-sm-8">{{ specie.average_lifespan }} years</dd>
              <dt class="col-sm-4">Eye colors</dt>
              <dd class="col-sm-8">{{ specie.eye_colors }}</dd>
              <dt class="col-sm-4">Hairs colors</dt>
              <dd class="col-sm-8">{{ specie.hair_colors }}</dd>
              <dt class="col-sm-4">Skin colors</dt>
              <dd class="col-sm-8">
                {{ specie.skin_colors }}
              </dd>
              <dt class="col-sm-4">Language</dt>
              <dd class="col-sm-8">
                {{ specie.language }}
              </dd>
              <dt class="col-sm-4">Homeworld</dt>
              <dd class="col-sm-8">
                <ng-container *ngIf="!loadingPlanet; else placeholderTemplate">
                  <button
                    (click)="goToPlanetDetail(planet.url)"
                    *ngIf="planet; else naTemplate"
                    type="button"
                    class="btn btn-link p-0 border-0"
                  >
                    {{ planet.name }}
                  </button>
                </ng-container>
              </dd>
              <ng-template #naTemplate>N/A</ng-template>
              <ng-template #placeholderTemplate>
                <div class="placeholder-glow">
                  <span class="placeholder w-25"></span>
                </div>
              </ng-template>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink class="detail-nav-link">Films</button>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-4 m-auto text-center">
                <p>
                  List of films that this specie this species has appeared in
                </p>
                <div class="list-group">
                  <app-film-preview
                    *ngFor="let film of specie.films"
                    [filmUrl]="film"
                  />
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <button ngbNavLink class="detail-nav-link">People</button>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-4 m-auto text-center">
                <p>List of films that that are a part of this species</p>
                <div class="list-group">
                  <app-people-preview
                    *ngFor="let people of specie.people"
                    [personUrl]="people"
                  />
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-4"></div>
    </div>
  </div>
</ng-template>
