<div class="row mt-3">
  <div class="col-12">
    <div class="mt-5 pt-5 px-2 pb-2 text-center bg-body-tertiary rounded-3">
      <h1>SWAPI-FE</h1>
      <p class="fw-light">
        Another Angular application, this time based on
        <a href="https://swapi.dev/" target="_blank">SWAPI API</a>. Enjoy Star
        Wars world!
      </p>
      <figure class="my-5">
        <blockquote class="blockquote">
          <h2>May the Force be with you</h2>
        </blockquote>
        <figcaption class="blockquote-footer">Who said it first?</figcaption>
      </figure>
      <p class="text-end mb-0 fw-light">
        <small>Angular - {{ angularVersion.full }}</small>
      </p>
    </div>
  </div>
</div>
