<app-main-loader *ngIf="!person; else personTemplate"></app-main-loader>
<ng-template #personTemplate>
  <div class="row">
    <div class="col-12">
      <a [routerLink]="['../']" class="link-secondary"
        ><i class="bi bi-arrow-left"></i> People</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">{{ person.name }}</h1>
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="1">
          <button ngbNavLink class="detail-nav-link">Details</button>
          <ng-template ngbNavContent>
            <div class="row">
              <dt class="col-sm-4">Date of birth</dt>
              <dd class="col-sm-8">
                {{ person.birth_year | YavinBattle }}
              </dd>
              <dt class="col-sm-4">Gender</dt>
              <dd class="col-sm-8">
                {{ person.gender }}
              </dd>
              <dt class="col-sm-4">Height</dt>
              <dd class="col-sm-8">{{ person.height }} cm</dd>
              <dt class="col-sm-4">Mass</dt>
              <dd class="col-sm-8">{{ person.mass }} kg</dd>
              <dt class="col-sm-4">Hair color</dt>
              <dd class="col-sm-8">
                {{ person.hair_color }}
              </dd>
              <dt class="col-sm-4">Eye volor</dt>
              <dd class="col-sm-8">
                {{ person.eye_color }}
              </dd>
              <dt class="col-sm-4">Skin color</dt>
              <dd class="col-sm-8">
                {{ person.skin_color }}
              </dd>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-4"></div>
    </div>
  </div>
</ng-template>
