<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand text-warning" routerLink="/home">SWAPI FE</a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse collapse"
      id="top_navbar"
      [ngbCollapse]="isMenuCollapsed"
    >
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <app-navbar-item
          *ngFor="let navbarItem of navbarItems"
          [navbarItem]="navbarItem"
        />
      </ul>
    </div>
  </div>
</nav>
