<app-main-loader *ngIf="!vehicle; else vehicleTemplate"></app-main-loader>
<ng-template #vehicleTemplate>
  <div class="row">
    <div class="col-12">
      <a [routerLink]="['../']" class="link-secondary"
        ><i class="bi bi-arrow-left"></i> Vehicles</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">{{ vehicle.name }}</h1>
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="1">
          <button ngbNavLink class="detail-nav-link">Details</button>
          <ng-template ngbNavContent>
            <div class="row">
              <dt class="col-sm-4">Model</dt>
              <dd class="col-sm-8">{{ vehicle.model }}</dd>
              <dt class="col-sm-4">Vehicle class</dt>
              <dd class="col-sm-8">{{ vehicle.vehicle_class }}</dd>
              <dt class="col-sm-4">Manufacturer</dt>
              <dd class="col-sm-8">{{ vehicle.manufacturer }}</dd>
              <dt class="col-sm-4">Lengh</dt>
              <dd class="col-sm-8">{{ vehicle.length | number }} meters</dd>
              <dt class="col-sm-4">Cost in credits</dt>
              <dd class="col-sm-8">
                {{ vehicle.cost_in_credits | number }} Galactic Credits
              </dd>
              <dt class="col-sm-4">Crew</dt>
              <dd class="col-sm-8">{{ vehicle.crew | number }}</dd>
              <dt class="col-sm-4">Passengers</dt>
              <dd class="col-sm-8">
                {{ vehicle.passengers | number }}
              </dd>
              <dt class="col-sm-4">Max atmosphere speed</dt>
              <dd class="col-sm-8">
                {{ vehicle.max_atmosphering_speed | number }}
              </dd>
              <dt class="col-sm-4">Cargo capacity</dt>
              <dd class="col-sm-8">{{ vehicle.cargo_capacity | number }} kg</dd>
              <dt class="col-sm-4">Consumables</dt>
              <dd class="col-sm-8">
                {{ vehicle.consumables }}
              </dd>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink class="detail-nav-link">Films</button>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-4 m-auto text-center">
                <p>List of films that this vehicle has appeared in</p>
                <div class="list-group">
                  <app-film-preview
                    *ngFor="let film of vehicle.films"
                    [filmUrl]="film"
                  />
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <button ngbNavLink class="detail-nav-link">Pilots</button>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-4 m-auto text-center">
                <p>List of people that this vehicle has been piloted by</p>
                <div class="list-group">
                  <app-people-preview
                    *ngFor="let pilot of vehicle.pilots"
                    [personUrl]="pilot"
                  />
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-4"></div>
    </div>
  </div>
</ng-template>
