<app-main-loader *ngIf="showLoader; else peopleTemplate"></app-main-loader>
<ng-template #peopleTemplate>
  <div class="row">
    <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2">
      <div class="list-group text-center">
        <button
          *ngFor="let person of people"
          (click)="goToPersonDetail(person.url)"
          type="button"
          class="list-group-item list-group-item-action"
        >
          {{ person.name }}
        </button>
        <div class="d-flex justify-content-between mt-2">
          <button
            type="button"
            class="btn btn-outline-light border-light-subtle"
            [disabled]="!isPreviousPagePresent"
            (click)="previousPage()"
          >
            Prev
          </button>
          <button
            type="button"
            class="btn btn-outline-light border-light-subtle"
            [disabled]="!isNextPagePresent"
            (click)="nextPage()"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
